body {
  min-width: 1210px;
  font-size: 16px;
  color: #506A85;
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
}
header {
  min-width: 1210px;
  border-bottom: 1px solid #E6E9ED;
}
a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.header__top {
  border-bottom: 1px solid #E6E9ED;
  background-color: #F5F7FA;
}
.header__top__inner {
  width: 1170px;
  margin: 0 auto;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.header__top__info {
  float: left;
  padding: 14px 0;
  font-size: 0;
}
.header__top__info > li { display: inline-block; }
.header__top__info > li:not(:first-child) { margin-left: 26px; }
.header__info__link {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  color: #506A85;
  line-height: 12px;
}
.header__info__link:before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 11px;
  height: 13px;
  content: "";
}
.is__header__mail:before { background: url(../img/header/icon-mail-off.png); }
.is__header__number:before { background: url(../img/header/icon-tel-off.png); }
.header__info__link:hover { color: #00BC9C; }
.is__header__mail:hover:before { background: url(../img/header/icon-mail-on.png); }
.is__header__number:hover:before { background: url(../img/header/icon-tel-on.png); }
.social__list {
  float: right;
  font-size: 0;
}
.social__list > li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 40px;
}
.social__icon { height: 100%; }
.social__icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 13px;
  transform: translate(-50%, -50%);
  content: "";
}
.is__facebook:before { background: url(../img/header/icon-facebook-off.png) no-repeat;}
.is__google:before { background: url(../img/header/icon-google-off.png) no-repeat; }
.is__twitter:before { background: url(../img/header/icon-twitter-off.png) no-repeat; }
.is__pinterest:before { background: url(../img/header/icon-pinterest-off.png) no-repeat; }
.is__behance:before {
  width: 13px;
  background: url(../img/header/icon-behance-off.png) no-repeat;
}
.is__dribbble:before {
  width: 13px;
  background: url(../img/header/icon-dribbble-off.png) no-repeat;
}
.is__facebook:hover:before { background: url(../img/header/icon-facebook-on.png) no-repeat; }
.is__google:hover:before { background: url(../img/header/icon-google-on.png) no-repeat; }
.is__twitter:hover:before { background: url(../img/header/icon-twitter-on.png) no-repeat; }
.is__pinterest:hover:before { background: url(../img/header/icon-pinterest-on.png) no-repeat; }
.is__behance:hover:before {
  width: 13px;
  background: url(../img/header/icon-behance-on.png) no-repeat;
}
.is__dribbble:hover:before {
  width: 13px;
  background: url(../img/header/icon-dribbble-on.png) no-repeat;
}
.is__facebook:hover { background-color: #2A6496; }
.is__google:hover { background-color: #DE5745; }
.is__twitter:hover { background-color: #2FBBDE; }
.is__pinterest:hover { background-color: #D94348; }
.is__behance:hover { background-color: #3079FF; }
.is__dribbble:hover { background-color: #EB6397; }
.header__main__inner {
  width: 1170px;
  margin: 0 auto;
  height: 111px;
}
.site__logo {
  float:left;
  margin: 36px 67px 0 0;
}
.site__logo:hover { opacity: .6; }
.gloval__nav {
  float: left;
  padding: 28px 0;
  font-size: 0;
}
.gloval__nav > li {
  display: inline-block;
}
.gloval__nav__link {
  margin: 20px 22px;
  font-size: 15px;
  font-weight: bold;
  color: #506A85;
}
.gloval__nav__link:hover { color: #00BC9C; }
.sitethema {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
  background: url(../img/main/keyvisual.jpg) center center;
}
.sitethema__inner { text-align: center; }
.sitethema__title {
  margin-bottom: 20px;
  font-size: 78px;
  font-weight: bold;
  color: #FFF;
}
.sitethema__title + p {
  margin-bottom: 50px;
  color: #A3B1BF;
  font-size: 24px;
  line-height: 33px;
}
.btn {
  position: relative;
  color: #FFF;
  text-align: center;
  background-color: #00BC9C;
  transition: all .3s;
}
.sitethema__btn {
  display: inline-block;
  width: 295px;
  font-size: 18px;
  line-height: 63px;
  border-radius: 5px;
  box-shadow: 0 4px #00A085;
}
.btn:hover { box-shadow: none; }
.sitethema__btn:hover { transform: translate3d(0, 4px, 0); }
.heading {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.policy {
  padding: 120px 0;
}
.mb70 { margin-bottom: 70px; }
h3 {
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1;
}
.policy__list {
  text-align: center;
  font-size: 0;
}
.policy__list > li {
  position: relative;
  display: inline-block;
  width: 280px;
  margin: 0 10px;
  padding-left: 90px;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
.is__passion { background: url(../img/main/description-passion.png) no-repeat top left;}
.is__creativity { background: url(../img/main/description-creativity.png) no-repeat top left; }
.is__quality { background: url(../img/main/description-quality.png) no-repeat top left; }
.policy__list__title {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1;
}
.active {
  padding: 130px 0;
  background-color: #F2F5F7;
}
.grid__contents {
  width: 1170px;
  margin: 0 auto;
}
.grid {
  margin: 0 -15px;
  font-size: 0;
}
.mb80 { margin-bottom: 80px; }
.grid__col {
  display: inline-block;
  padding: 0 15px;
  box-sizing: border-box;
}
.grid__col__6 { width: 50%; }
.grid__main__body {
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
  color: #506A85;
  background-color: #FFF;
}
.grid__main__body__title {
  margin-bottom: 10px;
  font-size: 20px;
}
.main__thumb__wrap { position: relative; }
.main__thumb { display: block; }
.main__thumb__wrap:after {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "+";
  font-size: 24px;
  color: #FFF;
  transform: translate(-50%, -50%);
}
.grid__link {
  position: relative;
  background-color: #00BC9C;
}
.grid__link:hover .main__thumb__wrap:after { display: block; }
.grid__link:hover .thumb { opacity: .1; }
.grid__link:hover .grid__main__body__title { color: #00BC9C; }
.grid__col__3 { width: 25%; }
.grid__hover__txt {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  color: #FFF;
  line-height: 24px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.fs16 { font-size: 16px; }
.grid__link:hover .grid__hover__txt { display: block; }
.recruit {
  padding: 130px 0;
  text-align: center;
}
.recruit__btn {
  margin: 0 auto;
  width: 150px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 5px;
  box-shadow: 0 3px #00A085;
}
.recruit__btn:hover { transform: translate3d(0, 3px, 0); }
.footer__main {
  padding: 75px 0;
  background-color: #2F4052;
}
.footer__main__inner {
  width: 1170px;
  margin: 0 auto;
}
.footer__main__list {
 margin: 0 -20px;
 font-size: 0;
}
.footer__main__list > li {
  display: inline-block;
  padding: 0 20px;
  width: 25%;
  vertical-align: top;
  box-sizing: border-box;
}
.footer__main__title {
  margin-bottom: 27px;
  font-size: 16px;
  color: #FFF;
}
.footer__main__logo { margin-bottom: 20px; }
.footer__main__txt {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #A3B1BF;
}
.footer__main__contact__link {
  font-size: 15px;
  color: #A3B1BF;
}
.footer__main__contact__link:hover { color: #00BC9C; }
.footer__main__thumb__list { font-size: 0; }
.footer__main__thumb__list > li {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  background-color: #00BC9C;
}
.footer__thumb__link:after {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: #FFF;
  content: "+";
  transform: translate(-50%, -50%);
}
.footer__main__thumb__list > li:nth-child(odd) { margin-right: 5px; }
.footer__thumb__link:hover .footer__thumb { opacity: .1; }
.footer__thumb__link:hover:after { display: block; }
.footer__thumb__link:after { opacity: 1; }
.footer__main__contact__link:after {
  display: inline-block;
  content: "→";
  padding-left: 5px;
  transition: all .3s;
}
.footer__main__contact__link:hover { color: #00BC9C; }
.footer__main__contact__link:hover:after { margin-left: 10px; }
.footer__main__info__link {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #A3B1BF;
}
.footer__main__info__link:hover { color: #00BC9C; }
.footer__main__info__link:before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 11px;
  height: 13px;
  content: "";
}
.is__footer__address:before { background: url(../img/footer/icon-address-off.png); }
.is__footer__tel:before { background: url(../img/footer/icon-tel-off.png); }
.is__footer__mail:before { background: url(../img/footer/icon-mail-off.png); }
.is__footer__address:hover:before { background: url(../img/footer/icon-address-on.png); }
.is__footer__tel:hover:before { background: url(../img/footer/icon-tel-on.png); }
.is__footer__mail:hover:before { background: url(../img/footer/icon-mail-on.png); }
.search__form {
  position: relative;
  padding: 8px;
  font-size: 0;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.15);
}
.search__box {
  border: none;
  font-size: 14px;
  background: none;
  outline: none;
  color: #FFF;
}
.search__btn {
  position: absolute;
  top: 4px;
  right: 3px;
  padding: 5px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #00A085;
}
.search__btn:hover { transform: translate3d(0, 2px, 0); }
.footer__bottom {
  padding: 30px 0;
  background-color: #283645;
}
.footer__bottom__inner {
  width: 1170px;
  margin: 0 auto;
}
.copy__right {
  float: left;
  font-size: 14px;
  color: #707E8C;
}
.footer__bottom__info {
  float: right;
  font-size: 0;
}
.footer__bottom__info > li { display: inline-block; }
.footer__bottom__info__link {
  display: inline-block;
  font-size: 14px;
  color: #707E8C;
}
.footer__bottom__info > li { padding-right: 10px; }
.dot:after {
  display: inline;
  content: "・";
  font-size: 14px;
  padding-left: 10px;
}
.footer__bottom__info__link:hover{ color: #00BC9C; }
